.delete-bar{
  position: fixed;
  top:0;
  background-color: #1C344E ;
  height: 100%;
  width: 15%;
  z-index: -1;
  text-align: center;
}

.like-bar{
  position: fixed;
  right:0;
  top:0;
  background-color: #92C46D;
  height: 100%;
  width: 15%;
  z-index: -1;
  text-align: center;
}

.button {
  position: absolute;
  bottom: 2%;
  left: 20%;
  width:60%;
}

.card{
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.50); /* Card Shadow */
  border-radius: 7px; /*Card rounded*/
}
